body{
    background-image: url(back2.png);
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;

    
}
.menu{
	background:#000;
	height: 60px;
	margin-top: 60px;
}