body{
    background-image: url(im3.jpg);
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;

    
}
.menu-area{
	background-color:#4c343499;
	height: 60px;
	margin-top: 60px;
}
.menu-list ul {
	float: left;
	list-style: none;
	margin-top: 8px;
}
.menu-list ul li{
	/*float: left;*/
	display: inline-block;
}
.menu-list ul li a {
	/* display: inline-block; */
	color: #fff;
	padding: 10px 15px;
	line-height: 40px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: sans serif;
	color: #f5c2c2;
}
.menu-list ul li a:hover{
	color: blue;
}
.serach-bar {
	float: right;
	margin-top: -60px;
}
input[type="text"] {
	background-image: url(search.png);
	background-repeat: no-repeat;
	background-position: 12px 17px;
	padding: 10px 11px 10px 17px;
	border-radius: 25px;
	transition: width 1s ease-in-out;
	outline: none;
	margin-top: 5px;
	width: 220px;
    background-color: #0000007d;
        background-color: #0000007d
}
input[type='text']:hover{
	width: 280px;
}
label{
	font-size: 32px;
	color: #fff;
	display: none;
}
#toggle{
	display:none;
}

@media only screen and (max-width:768px){
	body{
		height: 400px;
	}
	label {
	display: block;
	width: 30px;
	float: left;
}

	input[type="text"] {
	float: right;
	margin-top: -53px;
}
	.serach-bar {
	float: right;
	margin-top: -2px;
}
	.menu-list{
		text-align: center;
		width: 100%;
		display: none;

	}
	.menu-list ul {
	float: left;
	list-style: none;
	background:#4c343499;
	width: 40%;
	text-align: left;
	margin-left: -15px;
	margin-top: 60.3px;
}
	.menu-list ul li {
	display: block;
	border-bottom: 1px solid gray;
	margin-left: -41px;
}
	.nav-bar{
	position: fixed;
	top: 70px; 
	left: 15px;
	display: block;
	width: 48px;
	/* height: 48px; */
	cursor: pointer;
	z-index: 9999;
	border-radius: 50%;
	}
	.nav-bar i{
	display: block;
	width: 25px;
	height: 2px;
	background: #f3e9e9;
	border-radius: 2px;
	margin-left: 14px;

	}
	.nav-bar i:nth-child(1){
		margin-top: 8px;
	}

	.nav-bar i:nth-child(2){
		margin-top: 6px;
	}

	.nav-bar i:nth-child(3){
		margin-top: 6px;
	}

	#toggle:checked + .nav-bar{
		transform:rotate(45deg)!important;
	}

	#toggle:checked + .nav-bar i{
		transition: transform .2s ease;
	}
	#toggle:checked + .nav-bar i:nth-child(1){
		transform:translateY(6px) rotate(180deg);
		width: 30px;

	}

	#toggle:checked + .nav-bar i:nth-child(2){
	opacity: 0px;
	-webkit-opacity:0;
	}

	#toggle:checked + .nav-bar i:nth-child(3){
		transform:translateY(-10px) rotate(90deg);
		width: 30px;
	}

	#toggle:checked ~.menu-list{
		display: block;
		z-index: 9990;
	}
	#toggle:checked + .nav-bar{
		display: block;
		transform: rotate(180deg);
	}
}